{% extends "base.html" %}

{% block title %}
  400 &ndash; Bad Request
{% endblock title %}
{% block content %}
  <h1>400 &ndash; Bad Request</h1>
  <p>
    {% if exception %}{{ exception }}{% endif %}
    <hr />
    The HyperText Transfer Protocol (HTTP) 400 Bad Request response status code indicates that the server cannot or will not process the request due to something that is perceived to be a client error (for example, malformed request syntax, invalid request message framing, or deceptive request routing).
    <br />
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400">400 Bad Request &ndash; MDN</a>
  </p>
{% endblock content %}
