{% extends "base.html" %}

{% block title %}
  500 &ndash; Internal Server Error
{% endblock title %}
{% block content %}
  <h1>500 &ndash; Internal Server Error</h1>
  <p>
    {% if exception %}{{ exception }}{% endif %}
    <hr />
    The HyperText Transfer Protocol (HTTP) 500 Internal Server Error server error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
    This error response is a generic "catch-all" response. Usually, this indicates the server cannot find a better 5xx error code to response. Sometimes, server administrators log error responses like the 500 status code with more details about the request to prevent the error from happening again in the future.
    <br />
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500">500 Internal Server Error &ndash; MDN</a>
  </p>
{% endblock content %}
